[submodule "M2-Planet"]
	path = M2-Planet
	url = https://github.com/oriansj/M2-Planet.git
[submodule "M2libc"]
	path = M2libc
	url = https://github.com/oriansj/M2libc.git
[submodule "mescc-tools"]
	path = mescc-tools
	url = https://git.savannah.nongnu.org/git/mescc-tools.git
